body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7; 
    padding: 20px;
    color: #333; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h1, h2 {
    text-align: center;
    color: #333; 
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

.input-group select, .input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px;
    background-color: #fff; 
    color: #333; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc; 
    text-align: center;
    color: #333; 
}

table th {
    background-color: #f0f0f0; 
}

.total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333; 
}

button.remove {
    background-color: blue; 
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
}

button.remove:hover {
    background-color: green; 
}