body{
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    float: right;
}
.content{
    text-align: center;
}

img{
    width:276px;
    margin-bottom: 20px;
}
.btn-home{
    height: 35px;
    width: 65px;
    background-color: #228FFB;
    border: none;
    border-radius: 5px;
    color: white;
}
.btn-search{
    height: 35px;
    width: 80px;
    background-color: #13ACCC;
    border: none;
    border-radius: 1px;
    color: white;
}
.btn-issue{
    height: 35px;
    width: 120px;
}

.textfield{
    width: 180px;
    height: 20px;
    border-style: solid;
    border-color: #228FFB;
}