body{
    background-color: #F2F2F2;
    
}

.btn-home{
    height: 35px;
    width: 65px;
}


.btn-issue{
    height: 35px;
    width: 120px;
    background-color: #228FFB;
    border: none;
    color: white;
    border-radius: 5px;
}
.content{
    
    width: 1050px;
    height: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F9F8;
    padding-left: 80px;
    padding-top: 50px;
}
.btn-issue-submit{
    height: 35px;
    width: 120px;
    background-color:#02D0F7;
    border: none;
    border-radius: 5px;
}
.form-heading{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.text-box{
    height:20px ;
    width: 522px;
}
select{
    height: 30px;
    width: 530px;
}
.date-input{
    height: 30px;
    width: 527px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}




/* issue color #02D0F7 */
